<!DOCTYPE html>
<html>
<head>
  <title>Tic Tac Toe</title>
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300|Nunito:400,700,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Muli:300|NTR' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
